



<%=simple_form_for @ad, html: { class: "form-group"}  do  |f|%>
<%= f.input :section_id,:collection=>Section.all ,:label_method=>:body,value_method: :id,label: false, placeholder: 'Раздел' %>
<%=f.input :zagolovok, placeholder: 'Заголовок',label: false%>
<%=f.input :tekst, placeholder: 'Текст',label: false%>
 <%=f.input :img1, as: :file, label: 'Фото 1'%>
 <%=f.input :img2, as: :file, label: 'Фото 2'%>
 <%=f.input :img3, as: :file, label: 'Фото 3'%>
<%=f.button :submit, 'Создать' %>

<%end%>

</div>
